.root {
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.table {
  flex: 1;
  overflow: auto;
}
